body {
    background-image: url("../images/cp20772k.jpg");
    color: RGB(69,69,69);
    font-family: "Arial";
    font-size: x-large;
    margin-top: 10%;
    resize: none;
    overflow: hidden;  
}

#title-text {
    align-content: center;
    width: 60%;
}

#countdown {
    align-content: center;
    color: inherit;
    width: 60%;
    font-size: xx-large;
}